# Под суперпользователя (для создания БД) — если нет прав, проект сам аккуратно продолжит в существующей БД
PG_SUPERUSER=postgres
PG_SUPERPASS=postgres

# Рабочий пользователь/БД (используется всегда)
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=hh_vacancies_db

# Язык поиска в hh.ru (ru/en)
HH_LOCALE=ru